# DB & JWT CONFIGURATION
PORT=1234

MONGODB_URI=
DB_NAME=
JWT_SECRET=

# payment gateway Configuration
KASHIER_URL=
KASHIER_API_KEY=
KASHIER_SECRET_KEY=
KASHIER_MERCHANT_ID=
WEBHOOK_URL=

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM= SHOPIQ <>
FRONTEND_URL=

# RabbitMQ Configuration
RABBITMQ_URL=
EMAIL_QUEUE_NAME=email_queue


# ImageKit Configurations
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=


# Google Authentication Configuration
GOOGLE_OAUTH_CLIENT_SECRIT=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CALLBACK_URL=